{% extends "index.html" %}
{% block title %}{{ book.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">

        <div class="col-md-5">
            <img src="/static/images/{{ book.image }}" class="img-fluid rounded shadow" alt="{{ book.name }}" style="max-height: 400px; object-fit: contain;">
        </div>

        <div class="col-md-7 align-self-center">
            <h1 class="text-primary">{{ book.name }}</h1>

            <p class="fs-5"><strong>Publish Date:</strong> {{ book.publish_date }}</p>
            <p class="fs-5"><strong>Added to Site:</strong> {{ book.add_date }}</p>
            <p class="fs-5"><strong>Price:</strong> ${{ book.price }}</p>
            <p class="fs-5"><strong>Category:</strong> {{ book.category }}</p>

            <p class="fs-5">
                <strong>Author:</strong>
                <a href="{{ url_for('author_details', author_id=book.author.id) }}" class="text-decoration-none text-primary">
                    {{ book.author.name }}
                </a>
            </p>

            <div class="mt-4 d-flex gap-3 justify-content-center">
                <a href="{{ url_for('book_list') }}" class="btn btn-secondary">Back to Book List</a>
                <a href="{{ url_for('author_details', author_id=book.author.id) }}" class="btn btn-secondary">View Author</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
